<%= render :partial => 'shared/commit_info', :locals => { :commit => @commit }%>

<% i = 0 -%>
<ul id="change-list">
<% @commit.changes.sort! { |x,y| x.path <=> y.path }.each do |change| -%>
	<% i += 1 -%>
	<%= render :partial => change, :locals => { :i => i } %>
<% end -%>
</ul>

<!-- <h1>Commits#show</h1>
<p>Find me in app/views/commits/show.html.erb</p> -->
<% begin %>
<% i = 0 -%>
 <% @commit.diffs.sort! { |x,y| x.b_path <=> y.b_path }.each do |c| %>
	<% i += 1 -%>
	<% unified = Diff::Display::Unified.new(c.diff) -%>
<div class="diff-table" id="diff-<%= i %>">
	<table class="diff" cellspacing="0" cellpadding="0">
		<thead>
			<tr class="controls">
				<td colspan="3">
					<div class="control"><%= (c.a_path != c.b_path) ? c.a_path + ' → ' + c.b_path : c.b_path %><span class="view-file"><%= link_to_node("view file @ <span class=\"sha\">#{@commit.tree[0,8]}</span>", c.b_path, @commit.tree) unless c.deleted_file %></span></div>
				</td>
			</tr>
			<tr>
				<th class="csnum">old</th>
				<th class="csnum">new</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			<%= unified.render(Warehouse::DiffRenderer.new) %>
		</tbody>
	</table>
</div>
<% end %>
<% rescue Grit::Git::GitTimeout %>
Sorry, but it will take too long to generate this diff, try in in your command line: <pre class="viewsource"><code>git diff <%= @commit.sha %></code></pre>
<% end %>
