<% content_for :head do %>
<%= auto_discovery_link_tag(:atom, dashboard_feed_url(:user_credentials => @current_user.single_access_token)) %>
<% end %>
<div id="dashbaord">
	<ul>
		<%= render :partial => @events %>
	</ul>
	<%= '<div class="info">No activity</div>' unless !@events.empty? %>
	<%= will_paginate @events %>
</div>

<% @sidebar = @sidebar_wide = true -%>
<% content_for :sidebar do -%>
<div class="sidebar-repo">
	<div class="sidebar-repo-head">
		<h2>All Repositories (<%= @repos.count %>)</h2><span class="new"><%= link_to 'new repository', new_repository_path %></span>
	</div>
	<div class="sidebar-repo-list">
		<ul>
			<% @repos.each do |r| -%>
			<li<%= ' class="last"' if @repos.last == r %>><%= link_to r.name, repo_path(r) %></li>
			<% end -%>
		</ul>
	</div>
</div>
<div id="subscribe"><%= link_to "#{image_tag('icons/feed-icon-small.png')} News Feed", dashboard_feed_url, :id => 'subscribe-btn' %></div>
<% end -%>