<% content_for :head do %>
<%= auto_discovery_link_tag(:atom, dashboard_feed_url) %>
<% end %>
<div id="dashbaord">
	<ul>
	<% @events.each do |e| -%>
		<% if e.event_type == "push" -%>
		<li class="push">
			<div class="push-div">
				<div class="meta"><%= e.commits.last.name %> pushed to <%= link_to e.subject.name, repo_path(e.subject) %>/<%= e.extra["ref"] %> <%= (Time.now - e.created_at) < 5.days ? "#{time_ago_in_words(e.created_at)} ago" : "on #{e.created_at.strftime("%B %d, %Y")}" %></div>
				<div class="info-under">
					<div class="av"><%= avatar_for(e.commits.last) %></div>
					<div class="commits-info">
						<% e.commits.each do |c| -%>
						<div class="inline-commit"><%= avatar_for(c) %> <%= link_to truncate(c.sha, :length => 7, :omission => ''), commit_path(:id => c.sha, :repo => c.repository), :class => 'code' %> <%= c.message %>
						</div>
						<% end -%>
					</div>
				</div>
			</div>
		</li>
		<% end -%>
	<% end -%>
	</ul>
	<%= '<div class="info">No activity</div>' unless !@events.empty? %>
	<%= will_paginate @events %>
</div>

<% @sidebar = @sidebar_wide = true -%>
<% content_for :sidebar do -%>
<div class="sidebar-repo">
	<div class="sidebar-repo-head">
		<h2>All Repositories (<%= @repos.count %>)</h2><span class="new"><%= link_to 'new repository', new_repository_path %></span>
	</div>
	<div class="sidebar-repo-list">
		<ul>
			<% @repos.each do |r| -%>
			<li<%= ' class="last"' if @repos.last == r %>><%= link_to r.name, repo_path(r) %></li>
			<% end -%>
		</ul>
	</div>
</div>
<div id="subscribe"><%= link_to "#{image_tag('icons/feed-icon-small.png')} News Feed", dashboard_feed_url, :id => 'subscribe-btn' %></div>
<% end -%>