<h1 class="header va-reset"><%= image_tag 'icons/repository.png' %>Editing <%= current_repository.name %></h1>
<%- flash.each do |name, msg| -%>
	<%= content_tag :div, msg, :class => "flash-#{name}" %>
<%- end -%>
<% unless hook_installed?(current_repository) %><div class="info">You need to install the post-receive hook for git. <%= link_to "Do it now", admin_git_hook_path, :class => 'g-button' %></div><% end %>
<% if hook_installed?(current_repository) && !hook_latest?(current_repository) %><div class="info">You need to upgrade the post-receive hook for git. <%= link_to "Upgrade it", admin_git_hook_path, :class => 'g-button' %></div><% end %>
<!-- <div class="subnav-bar single"> -->
<div id="admin-nav-bar">
	<ul>
		<li id="nrepo" class="selected">
			<%= link_to "#{image_tag '/images/icons/box-small.png'} General", '#' %>
		</li>
		<li id="nhooks">
			<%= link_to "#{image_tag '/images/icons/hooks-small.png'} Hooks", admin_hooks_path %>
		</li>
	</ul>
</div>
<div class="clear">&nbsp;</div>

<% semantic_form_for current_repository, :url => admin_path do |form| %>
	<%= form.inputs :name, :path %>
	<%= form.buttons %>
<% end %>

