<% content_for :head do %>
<%= stylesheet_link_tag 'tipsy' %>
<%= javascript_include_tag 'hooks', 'jquery-tipsy' %>
<% end %>
<h1 class="header va-reset"><%= image_tag 'icons/repository.png' %>Editing <%= current_repository.name %></h1>
<div id="messages">
<%- flash.each do |name, msg| -%>
	<%= content_tag :div, msg, :class => "flash-#{name}" %>
<%- end -%>
</div>
<div id="admin-nav-bar">
	<ul>
		<li id="nrepo">
			<%= link_to "#{image_tag '/images/icons/box-small.png'} General", admin_path %>
		</li>
		<li id="nhooks" class="selected">
			<%= link_to "#{image_tag '/images/icons/hooks-small.png'} Hooks", '#' %>
		</li>
	</ul>
</div>
<div class="clear">&nbsp;</div>

<div id="service-hooks-header">Service Hooks</div>
<div id="service-hooks">
	<div class="service-list-div">
		<ul>
			<li class="current <%= service_active? current_repository.hooks.post_receive %>"><a href="#post_receive" class="hook_edit_toggle" id="post_receive-toggle">Post-Receive URLs (<span class="count"><%= current_repository.hooks.post_receive ? current_repository.hooks.post_receive.options['urls'].length : '0' %></span>)</a></li>
			<% @hooks.each do |k, hook| -%>
				<% next if  hook.plugin_name == "post_receive" -%>
				<li class="<%= service_active? eval("current_repository.hooks.#{hook.plugin_name}") %>"><%= link_to hook.html_name, "##{hook.plugin_name}", :id => "#{hook.plugin_name}-toggle", :class => 'hook_edit_toggle' %></li>
			<% end -%>
			<li class=""><%= link_to "Fake Payload", '#fake_payload', :id => "fake_payload-toggle", :class => 'hook_edit_toggle' %></li>
		</ul>
	</div>
	<div class="service-arrows"></div>
	<div class="service-hook-div">
		<div id="post_receive" class="hook">
			<div class="head">Post-Receive URLs</div>
			<div id="post_receive_messages"></div>
			<% semantic_form_for current_repository.hooks || current_repository.hooks.new(:name => 'post_receive', :options => { 'urls' => [] }), :html => { :id => "post_receive_form", :class => 'hook-form' }, :url => admin_hooks_post_path do |form| %>
				<% form.inputs do %>
					<%= form.input :name, :as => :hidden %>
					<% form.inputs :for => :urls do |u| %>
						<% if current_repository.hooks.post_receive %>
						<% current_repository.hooks.post_receive.options['urls'].each do |url| %>
						<%= u.input [], :label => "URL", :input_html => { :value => url }, :extra_html => (" " + link_to_function(image_tag('icons/delete.png'), 'remove_field(this)')), :wrapper_html => { :class => 'add_url' } %>
						<% end %>
						<% end %>
						<noscript><%= u.input [], :label => "URL", :extra_html => (" " + link_to_function(image_tag('icons/plus-small.png'), 'add_field(this)')), :wrapper_html => { :class => 'add_url' } %></noscript>
						<div class="new_url_field_html" style="display:none;"><%= u.input [], :label => "URL", :extra_html => (" " + link_to_function(image_tag('icons/delete.png'), 'remove_field(this)')), :wrapper_html => { :class => 'add_url' } %></div>
					<% end %>
				<% end %>
				<% form.buttons do %>
					<%= form.commit_button :label => "Update URLs", :id => "post_receive_submit" %>
					<%= link_to_function "Add URL", "add_link_html($('div.new_url_field_html').html())", :class => 'g-button', :id => "add_post_receive_link" %>
					<%= link_to "Test Hook", admin_hooks_path.gsub(/hooks$/, "post_receive_hook_test"), :class => 'g-button test-hook', :id => "post_receive_link" %>
					<%= image_tag "loading.gif", :style => 'vertical-align: middle; display: none;', :id => "post_receive_loading" %>
				<% end %>
			<% end %>
		</div>
		<div id="email" class="hook" style="display:none;">
			<div class="head">Email</div>
			<div id="email_messages"></div>
			<% semantic_form_for current_repository.hooks.email || current_repository.hooks.new(:name => 'email', :options => { 'emails' => [] }), :html => { :id => "email_form", :class => 'hook-form' },:url => admin_hooks_email_path do |form| %>
				<% form.inputs do %>
					<%= form.input :name, :as => :hidden %>
					<% form.inputs :for => :emails do |u| %>
						<% if current_repository.hooks.email %>
						<% current_repository.hooks.email.options['emails'].each do |email| %>
						<%= u.input [], :label => "Email", :input_html => { :value => email }, :extra_html => (" " + link_to_function(image_tag('icons/delete.png'), 'remove_email(this)')), :wrapper_html => { :class => 'add_email' } %>
						<% end %>
						<% end %>
						<noscript><%= u.input [], :label => "Email", :extra_html => (" " + link_to_function(image_tag('icons/plus-small.png'), 'add_email(this)')), :wrapper_html => { :class => 'add_email' } %></noscript>
						<div class="new_email_field_html" style="display:none;"><%= u.input [], :label => "Email", :extra_html => (" " + link_to_function(image_tag('icons/delete.png'), 'remove_email(this)')), :wrapper_html => { :class => 'add_email' } %></div>
					<% end %>
				<% end %>
				<% form.buttons do %>
					<%= form.commit_button :label => "Update Emails" %>
					<%= link_to_function "Add Email", "add_email_html($('div.new_email_field_html').html())", :class => 'g-button', :id => "add_email_link" %>
					<%= link_to "Test Hook", admin_hooks_path.gsub(/hooks$/, "email_hook_test"), :class => 'g-button test-hook', :id => "email_link" %>
					<%= image_tag "loading.gif", :style => 'vertical-align: middle; display: none;', :id => "email_loading" %>
				<% end %>
			<% end %>
		</div>
		<% @hooks.each do |k, hook| -%>
		<% next if hook.plugin_name == "email" ||  hook.plugin_name == "post_receive" %>
		<div id="<%= hook.plugin_name %>" class="hook" style="display:none;">
			<div class="head"><%= hook.plugin_name.capitalize %></div>
			<% h = eval("current_repository.hooks.#{hook.plugin_name}_new") %>
			<% b = {} %>
			<div id="<%= hook.plugin_name + "_messages" %>"></div>			
			<% semantic_form_for h, :html => { :id => hook.plugin_name + "_form",  :class => 'hook-form' },:url => admin_hooks_path do |form| %>
				<% form.inputs do %>
					<%= form.input :name, :as => :hidden %>
					<% h.hook_display_variables.each do |a| %>
						<%= form.input a, :input_html => { :disabled => true, :value => (h.new_record? ? "" : h.options[a.to_s]) } %>
					<% end %>
					<% form.inputs :for => :options do |opts| %>
						<% h.hook_options_html.each do |k,v| %>
							<% b[k] = v if v[:as] && v[:as] == :boolean %>
							<% v.merge!({:id_prefix => hook.plugin_name}) %>
							<% next if v[:as] == :boolean %>
							<% v[:input_html] ? v[:input_html].merge!({:title => h.hook_options[k] }) : (v[:input_html] = {:title => h.hook_options[k] }) %>
							<% v[:input_html].merge!({:value => h[:options][k.to_s]}) if h[:options] && h[:options][k.to_s] %>
							<%= opts.input k.to_sym, v %>
						<% end %>
						<% b.each do |k,v| %>
							<% v[:input_html] ? v[:input_html].merge!({:title => h.hook_options[k] }) : (v[:input_html] = {:title => h.hook_options[k] }) %>
							<% v[:input_html].merge!({:checked => "checked"}) if h[:options] && (h[:options][k.to_s] == "1") %>
							<%= opts.input k.to_sym, v %>
						<% end %>
					<% end %>
					<%= form.input :active, :wrapper_html => { :class => 'active_checkbox' } %>
				<% end %>
				<% form.buttons do %>
					<%= form.commit_button :label => "Update #{hook.plugin_name.capitalize} Settings" %>
					<%= link_to "Test Hook", admin_hooks_path.gsub(/hooks$/, "#{hook.plugin_name}_hook_test"), :class => "g-button test-hook #{'disabled' if h.new_record? || !h.active? }", :id => hook.plugin_name + "_link", :disabled => h.new_record? %>
					<% hook.view_links.each do |sym, text| %>
						<%= link_to text, eval("admin_#{hook.plugin_name}_#{sym.to_s}_path"), :class => "g-button"%>
					<% end %>
					<%= image_tag "loading.gif", :style => 'vertical-align: middle; display: none;', :id => hook.plugin_name + "_loading" %>
				<% end %>
				<%= h.help %>
			<% end %>
		</div>
		<% end -%>
		<div id="fake_payload" class="hook" style="display:none;">
			<div class="head">Fake Payload</div>
			This is what is deployed when you click "Test Hook"
			<pre class="viewsource"><code><% cache do %><%= JSON.pretty_generate(Warehouse::Hooks.fake_payload) %><% end %></code></pre>
		</div>
	</div>	
</div>