<%= render :partial => 'shared/commit_info', :locals => { :commit => current_commit } %>

<%= render :partial => 'header'%>

<table id="browser" cellspacing="0" cellpadding="0">
	<thead>
		<tr id="controls">
			<td colspan="2">
				<div class="subnav-bar">
					<ul>
						<li>
							<a href="#" class="dropdown">Branches (<%= current_repository.heads.size %>)</a>
							<ul>
								<% current_repository.heads.each do |h| -%>
								<li><%= (params[:rev] == h.name || (!params[:rev] && !params[:tag] && h.name == 'master')) ? "<strong>#{h(h.name)} &#x2713;</strong>" : link_to(h.name, tree_path(:rev => h.name)) %></li>
								<% end -%>
							</ul>
						</li>
						<li>
							<a href="#" class="dropdown <%= 'defunct' if current_repository.tags.size == 0 %>">Tags (<%= current_repository.tags.size %>)</a>
							<ul>
							<% current_repository.tags.each do |h| -%>
								<li><%= (params[:tag].to_s == h.name) ? "<strong>#{h(h.name)} &#x2713;</strong>" : link_to(h.name, tag_path(:tag => h.name)) %></li>
							<% end -%>
							</ul>
						</li>
					</ul>
				</div>
				<div id="browser-search" class="header">
					<% form_tag search_path, :id => "repo-search-form", :method => :get do %>
						  <input type="search" class="search" name="q" results="5" placeholder="Search commits&hellip;" value="" />
						  <input type="hidden" name="tree" value="<%= params[:tree] %>">
					<% end %>
				</div>
			</td>
		</tr>
		<tr>
			<th>File name</th>
			<th>Revision</th>
		</tr>
	</thead>
	<% @node.data.each do |node| -%>
	<tr>
		<td class="item"><%= link_to h(node.name), url_for_node(node, @revision), :class => css_class_for(node) %></td>
		<td>
			<span class="rev<% if current_commit && current_commit.sha == latest_revision_for_node(node).sha %> changed<% end %>"><%=h latest_revision_for_node(node).sha %></span>
			<%=h latest_revision_for_node(node).name %> <%= time_ago_in_words(latest_revision_for_node(node).committed_date) + ' ago' if latest_revision_for_node(node).committed_date %>
			<span class="log"><%=h latest_revision_for_node(node).message %></span>
		</td>
	</tr>
	<% end -%>
</table>
<div class="clear">&nbsp;</div>